      img{
            width: 60%;
            height: 60%;
        }
    }

    div:nth-child(1) {
       width: 100px;
       height: 100px;  
    }

    div:nth-child(2) {
        margin: 1.75rem;
        width: 150px;
        height: 150px;  
    }

    div:nth-child(1) {
        width: 70px;
        height: 70px;  
    }